html{
  font-family: 100%;
}
footer {
  /* display: flex;
  flex-direction: row;
  background: #D9242E;
  height: auto; */
  display: grid;
  grid-template-rows:none;
  padding:2em 1rem;
  background: #D9242E;
  height: auto;
}

footer .info {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  margin: 0 auto;

}

.info h5 {
  margin: .6em 0;
  color: white;
  font-family:  'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1.8rem;
  /* font-weight: bold; */
}

.logoFooter {
  width: 120px;
}
.copyrigth{
  margin: .6em 0;
  color: white;
  font-family:  'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
}
/* @media screen and (max-width : 900px){
  .footer .info {
    grid-template: 200px/200px;
  }
} */