footer {

  display: grid;
  grid-template-rows:auto 1fr;
  padding:2em 1rem;
  background: #000000;
  height: auto;
  
}

.footer_info {

  display: grid;
  margin: 0 auto;
  grid-template: repeat(1,auto)/ repeat(1, 380px 250px 490px);
  gap:2rem;
  justify-content: center;

}

.footer_servicios{
  display: grid;
  margin: 0 auto;
  grid-template: repeat(1,auto)/repeat(1,245px 245px);
  justify-content: center;
}

.footer_servicios p{
  color: #808495;
  font-size: 1rem;
}

.footer_info_subtitulos{
  
  color: white;
  font-family:  'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1.125rem;
  
}
.footer_info h4 {
  margin: .6em 0;
  color: white;
  font-family:  'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  
}
.footer hr{
  background-color: #69B4CA;
  height: 2px;
  margin-left: 0%;
  width: 100%
}

.footer_info hr{
    background-color: #69B4CA;
    height: 2px;
    margin-left: 0%;
    width:9rem;
}
.footer_info p{
  color: #808495;
  font-size: 1rem;
}
.logo_Footer {
    margin-block-start: 14.940px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width:7.5rem;
    height: 2.125rem; 
}
.social{
  padding:  0.3125rem;
  margin: 0 auto;
}
.copyrigth{
  margin: .6em 0;
  font-family:  'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  margin: 0 auto;
 
}
.copyrigth p{
  color: #808495;
}

@media screen and (max-width : 900px){
  .footer_info {
    grid-template: repeat(1, minmax(auto, 1fr)) / 1fr;
  }
  .footer_info hr{
    background-color: #69B4CA;
    height: 2px;
    margin-left: 0%;
    width:6.25rem;
}
  .footer_servicios{
    grid-template: repeat(1, minmax(auto, 1fr)) / 1fr;
    
  }
  .footer_info p{
    color: #808495;
    font-size: 1.5rem;
  }
  
  .footer_info_subtitulos{
  
    font-size: 1.6rem;
  
  }
} 

@media screen and (max-width : 1024px){
  .footer_info {
    grid-template: repeat(1, minmax(auto, 1fr)) / 1fr;
  }
 
  .footer_servicios{
    grid-template: repeat(1, minmax(auto, 1fr)) /1fr;
  }
  .footer_info hr{
    background-color: #69B4CA;
    height: 2px;
    margin-left: 0%;
    width: 6.25rem;
  }
  .logo_Footer {
    width:6.375rem;
    height: 2.125rem; 
  }
  .footer_info p{
    color: #808495;
    font-size: 1.5rem;
  }
  .footer_info h4 {
    
    font-size: 1.6rem;
    
  }
} 