/*Carousel Card component*/
.carousel-card{
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  min-width: 1200px; 
  border: 1px solid black;
  text-align:  center;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.60);
  border-radius: 8px 8px 8px 8px;
  margin-top: 20px;
}
/*image of Carousel Card Component*/
.carousel-card__image{
  width: 95%;
  height: 20em;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;

}
/*Text of Carousel Card Component*/
.carousel-card__text{
  background: #FF4544;
  height: 20em;
  margin-top: 1px;
  font-weight: bold;
  color: white;
  font-size: 1.25rem;
  font-family:  'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  padding: 1.5em 3rem;

}
.carousel-card__text-tittle{
  font-size:  2rem;
  text-align: center;
}
.carousel-card__text-text{
  text-align: initial;
}



@media screen and (max-width: 1200px){
  .carousel-card{
    min-width: 94.5vw;
    height: 36em;
  }
  .carousel-card__image{
    height: 35vh;
  }
  .carousel-card__text{
    /* height: 55vh; */
    font-size: 1.8em;
    height: auto;
  }
}  
/*Media Query for a medium deskptop screen*/
@media screen and (max-width: 1052px){
  .carousel-card__image{
    height: 60%;
  }
  .carousel-card__text{
    /* height: 99.5%; */
    font-size: 1.3em;
    height: auto;
  }
}  
@media screen and (max-width: 768px){
  .carousel-card{
    min-width: 94.8vw;
    height: 32em;
  }
  .carousel-card__image{
    height: 70%;
  
  }
  .carousel-card__text{
    font-size: 1.6vw;
    height: auto;
  }
} 
/*Media Query for a small device*/
@media screen and (max-width: 480px){
  .carousel-card{
    min-width: 98.9vw;
    height: 30em;
  }
  .carousel-card__image{
    margin-left: 8px;
    height: 18vh;
  }
  .carousel-card__text{
    /* height: 23vh; */
    height: auto;
    font-size: 2vw;
    margin-bottom: 3px;
  }
}

