/*Carousel Card component*/
.carousel-card{
  width: 100%;
  /* display: flex;
  flex: 1; */
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  min-width: 1200px; 
  border: 1px solid black;
  text-align:  center;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.60);
  border-radius: 8px 8px 8px 8px;
  align-content: center;
  align-items: center;
  margin-top: 20px;
}
/*image of Carousel Card Component*/
.carousel-card__image{
  width: 95%;
  height: 20em;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;

}
/*Text of Carousel Card Component*/
.carousel-card__text{
  background: #24D9CF;
  height: 20em;
  align-items: center;
  margin-top: 1px;
  font-size: 1.6em;
  color: white;
}
@media screen and (max-width: 1200px){
  .carousel-card{
    min-width: 94.5vw;
    height: 36em;
  }
  .carousel-card__image{
    height: 35vh;
  }
  .carousel-card__text{
    height: 55vh;
    font-size: 1.8em;
  }
}  
/*Media Query for a medium deskptop screen*/
@media screen and (max-width: 1052px){
  .carousel-card__image{
    height: 60%;
  }
  .carousel-card__text{
    height: 99.5%;
    font-size: 1.3em;
  }
}  
@media screen and (max-width: 768px){
  .carousel-card{
    min-width: 94.8vw;
    height: 32em;
  }
  .carousel-card__image{
    height: 70%;
  
  }
  .carousel-card__text{
    font-size: 1.6vw;
  }
} 
/*Media Query for a small device*/
@media screen and (max-width: 480px){
  .carousel-card{
    min-width: 93.9vw;
    height: 30em;
  }
  .carousel-card__image{
    margin-left: 8px;
    height: 18vh;
  }
  .carousel-card__text{
    height: 23vh;
    font-size: 2vw;
    margin-bottom: 3px;
  }
}

