/* Client List component */
.client-list {
  display: grid;
  grid-template: 1fr / minmax(100px, 1200px);
  justify-content: center;
  padding: 6.5em 2.5rem;
}

.client-list__title {
  width: 90%;
  justify-self: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

/* Client Cards of Client list component*/
.client-list-cards {
  /* white-space: nowrap;
  overflow: scroll; */
  width: 90%;
  justify-self: center;
  display: grid;
  grid-template: repeat(1,auto)/ repeat(4, 200px);
  justify-content: center;
  /* padding: 6.5em 2.5rem; */
}

@media screen and (max-width : 900px){
  .client-list-cards {
  
    grid-template: repeat(1,auto)/ repeat(1, 150px 150px);

  }
  
}
