.card-information
{
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.30);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0.63rem;
  
}
.card-information h1{
    font-family: 'Open Sans',  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    color: #FF4544;
    font-weight: bold;
    text-align: center;

}

.card-information p{
    font-family: 'Open Sans',  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Helvetica Neue', sans-serif;
    font-size: 2rem;
    text-align: justify;
}
