/* Hero block */
.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* hexagon animation element */
.hero__hex-animation {
  overflow: hidden;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  position: absolute;
  z-index: 2;
  left: 5%;
  top: 42%;
}

/* hexagon element */
.image-hex {
  position: relative;
  display: block;
  width: 600px;
  height: 609px;
  transform-origin: 43% 33%;
  animation: rotateHexImg 10s linear infinite;
}

/* keyframes for hexagons rotation */
@keyframes rotateHexImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* shadow modifier */
.image-hex--shadow {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
}

/* hero image element */
.hero-image{
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url('./images/fondo3.JPG');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  transform: translate3d(0px, 0px, 0px) scale(1);
  width: 100%;
  height: 100%;
}