.contact-us {
  display: grid;
  grid-template: 1fr / minmax(100px, 1200px);
  justify-content: center;
}

.contact-us__content {
  justify-self: center;
  width: 90%;
}

.contact-us__paragraph {
  display: flex;
  justify-content: center;
}