.card-solutions{
    padding: 0.63rem;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.60);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    position: relative;
    align-content: center;
    align-items: center;
}
.card-solutions__text-hover{
    position:absolute;
    height: 100%;
    background-color: white;
    top:0;
    left:0;
    opacity: 0;
    padding:10px;
    margin:0;
  }
.card-solutions:hover .card-solutions__text-hover{
    opacity: 1;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
  }

.card-solutions__sectionName{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.card-solutions__image {
    margin-right: 1rem;
    width: 100%;
    height: 300px;   
}
 .card-solutions__text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    color: #808495;
    font-weight: bold;
    text-align: center;
 
 }
.card-solutions__seccionInfo p{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7rem;
    color: #FF4544;
    font-weight: bold;
    text-align: center;
}
.card-solutions__seccionInfo span{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7rem;
    color: #808495;
    font-weight: bold;
    text-align: center;
}
.card-solutions__seccionFooter{
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #98CA3F;
    font-weight: bold;
    font-style: italic;
    margin: 20px;
}
.sizeButton{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 2.05rem;
      color: #4B75B8;
      font-weight: bold;
      text-align: center;
      background: transparent;
      border:#4B75B8 5px solid;
}