.card-solutions{
    /* padding: 0.5rem 0; */
    padding: 0.63rem;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.60);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    align-content: center;
    align-items: center;
    /* border:#707070 10px solid; */
}

.card-solutions__sectionName{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.card-solutions__image {
    margin-right: 1rem;
    width: 100%;
    height: 300px;   
}

.card-solutions__seccionInfo h2{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    color: #FF4544;
    font-weight: bold;
    text-align: center;
    height: 108px;
}
.card-solutions__seccionFooter{
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #98CA3F;
    font-weight: bold;
    font-style: italic;
    margin: 20px;
}
.sizeButton{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 2.05rem;
      color: #4B75B8;
      font-weight: bold;
      text-align: center;
      background: transparent;
      border:#4B75B8 5px solid;
}