.services {
  display: grid;
  grid-template: auto 1fr / minmax(200px, 1200px);
  justify-content: center;
}

.services__info {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, minmax(200px, 584px));
  gap: 2rem;
  justify-content: center;
}

@media screen and (max-width: 768px){
  .services__info {
    grid-template: repeat(4, minmax(200px, 1fr)) / 1fr;
  }
}
