/* Header block */
.header {
  position: fixed;
  z-index: 3;
  width: 100%;
  background: #FF4544;
  top: 0;
  transition: .5s ease-in-out;
}

.header--positive {
  background: white;
  box-shadow: 9px 9px 9px 0 rgba(47, 44, 44, 0.2);
}

/* navbar element */
.header__navbar {
  display: grid;
  grid-template: 1fr / repeat(2, minmax(100px, 600px));
  justify-content: center;
  padding: 1rem;
}

/* brand element */
.header__brand {
  animation: showBrand 2s forwards;
  justify-self: center;
  align-self: center;
}

.header__brand-image {
  width: 7.5rem;
  height: 3.125rem;
}

/* menu element */
.header__menu {
  justify-self: center;
  align-self: center;
  transition: .5s ease-in-out;
}

.header__menu--show .menu-list {
  display: grid;
}




/* keyframes for Brand animation */
@keyframes showBrand {
  from {
    opacity: 0;
    transform: scale(.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 1011px) {
  .header {
    background: rgba(0, 0, 0, 0.6);
  }

  .header__navbar {
    grid-template: auto 1fr / repeat(2, minmax(100px, 600px));
  }

  .burger-menu {
    display: block;
    grid-row: 1;
    grid-column: 2;
  }

  .header__menu {
    height: 0;
    grid-column: 1 / span 2;
  }

  .header__menu--show {
    height: 100%;
  }
}